Source: lokkit-chain
Section: misc
Priority: optional
Maintainer: Andreas Schmid, <ikeark@gmail.com>
Build-Depends: debhelper (>= 7.4.3), dh-systemd
Standards-Version: 3.9.1

Package: lokkit-chain
Architecture: amd64 armhf
Section: misc
Depends: ${misc:Depends}, adduser
Description: Installs geth as a service with the lokkit genesis block
